.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* src/App.css */

/* Default Styles (for desktop) */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}



.item {
  width: 30%;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.item img {
  width: 100%;
  height: auto;
}

/* Tablet Styles */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .item {
    width: 80%; /* For tablet, adjust width */
    margin: 10px 0;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  body {
    font-size: 14px; /* Adjust font size for mobile */
  }

  .container {
    flex-direction: column;
  }

  .item {
    width: 100%; /* Full width on mobile */
    margin: 10px 0;
  }
}
